<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Css/forgotPassword.css" />
  </head>
  <body>
    <main class="container text-center">
      <h3><i class="fa fa-lock fa-4x"></i></h3>
      <h2>Forgot Password?</h2>
      <p>Enter your email address to receive a password reset link.</p>
      <form
        id="forgotPasswordForm"
        class="form"
        onsubmit="return false"
        aria-label="Forgot Password Form"
      >
        <label for="email" class="sr-only">Email Address</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-envelope"></i>
          </span>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter your email"
            required
            aria-required="true"
          />
        </div>
        <button
          id="resetPasswordLinkBtn"
          class="btn btn-lg btn-primary btn-block"
          type="click"
        >
          Send Reset Password Link
        </button>
      </form>
    </main>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
      integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="../Javascript/forgotPassword.js"></script>
  </body>
</html>
